# Git
.git
.gitignore

# Documentation
README.md
CHANGELOG.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# CI/CD
.github

# Environment
.env
.env.example

# Data
data/
*.jsonl

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Misc
prometheus.yml
grafana/

